<?xml version="1.0"?>
<launch>
	<include file="$(find slambot_description)/launch/description.launch" />
	
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
	<node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find slambot_description)/rviz/urdf.rviz"/>
</launch>
